.container.container-responsive {
    @media (min-width: 1400px) {
        max-width: 94vw;
        padding: 0 3vw 0;
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
        max-width: 96vw;
        padding: 0 2vw 0;
    }
}

.section-full {
    height: 100vh;
    overflow: hidden;
}

.section-full img {
    height: 100vh;
    object-fit: cover;
}
