.footer-link {
  transition: color 0.2s;
  &:hover,
  &:focus {
    color: #adb5bd !important;
  }
  .bi {
    transition: color 0.2s;
  }
  &:hover .bi,
  &:focus .bi {
    color: #adb5bd;
  }
  &:not(:has(.bi)):hover,
  &:not(:has(.bi)):focus {
    text-decoration: underline;
  }
} 